*
{
	margin 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	/*background-image: linear-gradient(to right, #00c6ff,#0072ff);*/
	background-image: linear-gradient(to right, #c31432,#240b36);
	padding: 0 !important;
	min-height: 60px;
}
.navbar-nav
{
	padding: 0 50px;
}
.nav-item
{
	color: #fff !important;
	font-weight: 450;
	float: right;
	text-align: right;
	margin: 0 20;
}

.navbar-brand
{
	color: #fff !important;
	font-weight: 450;
	padding: 0 50px;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;

}
.navbar-toggler
{
	outline: none !important;
	margin: 0 50;
}

#header
{
	background-image: linear-gradient(to right, #c31432,#240b36);
	color: #fff !important;
	padding-top: 3%;
}

.my-intro
{
	margin-top: 100px;
}

.my-title
{
	font-size: 70px;
	font-weight: 600;
	margin-top: -20px;
}
.header-img
{
	width: 100%;
}


/*-------------About-------------*/
#About
{
	padding: 40px 0;
}
.title::before
{
	content:'';
	background: linear-gradient(to right, #c31432,#240b36);
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(60px);
}

.me-img
{
	width: 90%;
	margin-top: 50px;
}
#about p
{
	margin-top: 50px;
}


/*-------------Work-------------*/
#work
{
	padding: 40px 0;
	background: #f8f9fa
}
.work
{
	margin-top: 50px;
}



/*-------------Icons-------------*/
#media
{
	padding: 40px 0;
}
.icons
{
	margin-top: 50px;
}
.icons img
{
	width: 85px;
	transition: 0.5s;
	margin: 0 10px;
}
.icons a:hover img
{
	transform: translateY(-10px);
}




/*-------------Footer-------------*/
#footer
{
	background-image: linear-gradient(to right, #c31432,#240b36);
	color: #fff !important;
}
